.Player-card{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  /* padding: 0px 0px; */
  font-family: monospace;
  color: white;
  border-style: outset;
}

.Player-name{
  text-align: left;
  font-size: calc(10px + 1vmin);
  /* padding-right: 5%; */
  padding: 10px;
}

.Player-badges {
  font-size: calc(2px + 1vmin);
  position: relative;
  bottom: 25px
}

.badge {
  width: 30px;
  position: relative;
  top: 10px;
}

.Player-points {
  text-align: right;
  font-size: calc(12px + 1vmin);
  padding: 10px;
}
