.Records {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-family: monospace;
  padding-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

.content {
  color: white;
}

.grid-item {
  font-size: calc(10px + 1vmin);
  color: white;
  border-style: outset;
  padding: 10px;
  margin: 16px 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}
