.Home {
  background-color: #282c34;
  min-height: 100vh;
  font-family: monospace;
  padding-top: 10px;
  
}

.header-home{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container .difficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}

.button {
  text-decoration: none;
  font-family: monospace;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: white;
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  padding: 20px;
  height: 500px;
  width: min(50%, 400px);
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button .subtitle {
  font-size: calc(5px + 1vmin);
  opacity: 0.7;
  padding-top: 180px;
  
}

.button span {
  top: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button .points {
  font-size: calc(5px + 1vmin);
  opacity: 0.8;
  padding-top: 150px;
}

.button:hover .points{
  opacity: 1;
  transition: 0.5s;
}
